<!DOCTYPE html>
<html lang="en" ng-app="expanderModule">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Angular.js</title>
  
<script type="text/javascript" src="zh-cn.js"></script>   
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="angular.js"></script>
<script src="angular-route.js"></script>
  
</head>
<style type="text/css">
		body{
			background-color: #2d2c41;

		}
		.menu{
			position:absolute;
			top:200px;
			width: 150px;
		}
		
	
	
        .expander {
			
            border: 1px solid black;
            width: 250px;
			background-color: #d9d9d9;
        }

        .expander>.title {
          
            color: #b63b4d;
            padding: .1em .3em;
            cursor: pointer;
        }

        .expander>.body {
			color: black;
            padding: .1em .3em;
        }
		
		
</style>


<body >     
      <div  class='menu'    ng-controller='SomeController'  >
              <expander   class='expander' expander-title='title' ng-cloak>
                    <div class="dropdown" ng-repeat="use in text"> <a  ng-click="showView(use.list)";>{{use.directory}}</a> </div>    
              </expander>  
			
			  <expander   class='expander' expander-title='titleS' ng-cloak>
                    <div class="dropdown" ng-repeat="use in textS"> <a  ng-click="showView(use.list)";>{{use.directory}}</a> </div>    
              </expander> 			  
			
      </div>
	  <div class ='show' ng-controller="ViewController">
	  
	  
	  
	  </div>
      
 <script type="text/javascript">
 var expanderModule=angular.module('expanderModule',[])
 expanderModule.directive('expander',function(){
       return{
             restrict:'EA',
             replace:true,
             transclude:true,
             scope:{
                 title:'=expanderTitle'
             },
             template:'<div>'+'<div class="title"  ng-click="toggle()">{{title}}</div>'
             +'<div class="body" ng-show="showMe" ng-transclude></div>'+'</div>',
            

			link:function(scope,element,attrs){
                scope.showMe=false;
                scope.toggle=function toggle(){
                   scope.showMe=!scope.showMe;
                }
             } 
       }
 });
 expanderModule.controller('SomeController',function($scope){
       $scope.title='FootBall';
       $scope.text= [{
 						"directory":"Sumamry",
 						"list":"http://www.baidu.com"
 					},{
 						"directory":"Daily Single",
 						"list":"http://www.qq.com"
 					},{
 						"directory":"Daily Breakdown",
 						"list":"http://www.youdao.com"
 					}
					,{
 						"directory":"Daily Summary",
 						"list":"http://www.youdao.com"
 					}
					,{
 						"directory":"Daily Allup",
 						"list":"http://www.youdao.com"
 					}
					
					,{
 						"directory":"Order Manage",
 						"list":"http://www.youdao.com"
 					}
					,{
 						"directory":"Channel Manage",
 						"list":"http://www.youdao.com"
 					}
					,{
 						"directory":"Error Ticket",
 						"list":"http://www.youdao.com"
 					}
					,{
 						"directory":"Thrid",
 						"list":"http://www.youdao.com"
 					}
					
					
					];
 
	
	   $scope.titleS='Virual FootBall';
	    $scope.textS= [{
 						"directory":"Bookie Channel Manage",
 						"list":"http://www.qq.com"
 					},{
 						"directory":"Bookie Order Manage",
 						"list":"http://www.youdao.com"
 					},
					{
 						"directory":"Bookie Single",
 						"list":"http://www.qq.com"
 					},{
 						"directory":"Bookie Summary",
 						"list":"http://www.youdao.com"
 					}
					];
	

		$scope.showView=function(data){
	
			alert(data);
		
		}

 });
 
 
 expanderModule.controller('ViewController',function($scope){
 
 
 
 
 
 
 });
 
 
 
 
 
 </script>
   
 



</body>
</html>