<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caiex.account.mapper.OrderTicketDetailHisMapper">

	<sql id="Base_Column_List" >
	 local_m,total_price,sid,tid,inv_allup,price_allup,status,alive_m,product,payouttime
   </sql>

		
<!--daily breakdown  -->
<!-- 统计单关totalInvestment -->
<select id="queryTotalInvestmentFSGL" resultMap="BaseResultMap"   parameterType="java.util.Map">
		select SUM(d.inv_allup) as inv_allup  from order_ticket_detail_his d
		<include refid="Where_queryTotalInvestmentFSGL"/>
</select>

<!-- 查询条件 -->
<sql id="Where_queryTotalInvestmentFSGL">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	 and d.local_m=1
</trim>
</sql>



  	 <!-- 统计单Invest -->
<select id="queryinvestFSGL" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select sum(d.price_allup) as price_allup from order_ticket_detail_his d
	<include refid="Where_queryInvestFSGL"/>
</select>


<!-- 查询条件 -->
<sql id="Where_queryInvestFSGL">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status in (1,2)
	 and d.local_m=1
</trim>
</sql>	

<!-- 统计单关queryTotalPrice -->
<select id="queryTotalPriceFSGL" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select sum(d.total_price) as total_price from order_ticket_detail_his d 
		<include refid="Where_queryTotalPriceFSGL"/> 
</select>
<!-- 查询条件 -->
<sql id="Where_queryTotalPriceFSGL">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    <![CDATA[ and d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
    <if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status =1
	 and d.local_m=1
</trim>
</sql>	

	<!-- 统计单关中了的 Invest-->
<select id="queryWinInvest" resultMap="BaseResultMap"  parameterType="java.util.Map"> 
	select sum(d.price_allup) as price_allup from order_ticket_detail_his d
	<include refid="Where_queryWinInvest"/>
</select>
<!-- 查询条件 -->
<sql id="Where_queryWinInvest">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status =1
	 and d.local_m=1
</trim>
</sql>	



<!-- 统计串关totalInvestment -->
<select id="queryTotalInvestmentALLUP" resultMap="BaseResultMap"   parameterType="java.util.Map">
		select SUM(d.inv_allup) as inv_allup  from order_ticket_detail_his d
		<include refid="Where_queryTotalInvestmentALLUP"/>
</select>

<sql id="Where_queryTotalInvestmentALLUP">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	 and d.local_m>1
</trim>
</sql>


<!-- 统计串Invest -->
<select id="queryinvestALLUP" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select sum(d.price_allup) as price_allup from order_ticket_detail_his d 
		<include refid="Where_queryInvestAllUP"/>
</select>

<!-- 查询条件 -->
<sql id="Where_queryInvestAllUP">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status in (1,2)
	 and d.local_m>1
</trim>
</sql>	


 <!-- 统计串关的queryTotalPriceALLUP -->
<select id="queryTotalPriceALLUP" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select sum(d.total_price) as total_price from order_ticket_detail_his d 
		<include refid="Where_queryTotalPriceALLUP"/>
</select>

<!-- 查询条件 -->
<sql id="Where_queryTotalPriceALLUP">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status =1
	 and d.local_m>1
</trim>
</sql>	 




<!-- 统计0关totalInvestment -->

<select id="queryTotalInvestmentLEVEL0" resultMap="BaseResultMap"   parameterType="java.util.Map">
		select SUM(d.inv_allup) as inv_allup  from order_ticket_detail_his d
		<include refid="Where_queryTotalInvestmentLEVEL0"/>
</select>

<!-- 查询条件 -->
<sql id="Where_queryTotalInvestmentLEVEL0">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	 and d.local_m=0
</trim>
</sql>



<!-- Level0 -->
<select id="queryinvestLEVEL0" resultMap="BaseResultMap" parameterType="java.util.Map"><!--  -->
		select sum(d.price_allup) as price_allup,sum(d.total_price) as total_price from order_ticket_detail_his d 
		<include refid="Where_queryInvestLEVEL0"/>	
</select>

<!-- 查询条件 -->
<sql id="Where_queryInvestLEVEL0">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status=1
	 and d.local_m=0
</trim>
</sql>	





<!-- 统计当天的totalInvestment -->
<select id="queryTotalInvestment" resultMap="BaseResultMap" parameterType="java.util.Map">
		select SUM(d.inv_allup) as inv_allup from order_ticket_detail_his d
		<include refid="Where_queryInvestTotal"/>
</select>

<sql id="Where_queryInvestTotal">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
</trim>
</sql>	
		

<!-- 每日财务报表合计totalprice -->
<select id="queryTotalprice" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select sum(d.total_price) as total_price from order_ticket_detail_his d 
		<include refid="Where_queryTotalprice"/>
</select>
<!-- 查询条件 -->
<sql id="Where_queryTotalprice">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	and d.status=1
</trim>
</sql>	
  
  	  <!-- 每日财务报表合计 invest -->
<select id="queryInvest" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select sum(d.price_allup) as price_allup,sum(d.total_price) as total_price from order_ticket_detail_his d 
		<include refid="Where_queryInvest"/>
</select>
<!-- 查询条件 -->
<sql id="Where_queryInvest">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	and d.status in (1,2)
</trim>
</sql>	
		
	
	
	<!--single  -->
	<!--根据派奖时间查询单关  -->
<select id="queryDetailByPayouttime" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select <include refid="Base_Column_List"/> from order_ticket_detail_his d
	where  <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>  
	and d.local_m=1
</select>
	
	<!-- single 查询单关交易额 -->
<select id="detailQueryInvest" resultMap="BaseResultMap"  parameterType="Object">

	select SUM(d.price_allup) AS  price_allup from order_ticket_detail_his d INNER JOIN order_ticket_matches_his e 
	on e.sid=d.sid
	<include refid="Where_totalInvestmentFSGL"/> and e.sid in 
	<foreach item="item" index="index" collection="sids" open="(" separator="," close=")">
            #{item.sid}
    </foreach>
	
</select>

    <!-- 查询条件 -->
<sql id="Where_totalInvestmentFSGL">
where 1=1
<trim  suffixOverrides="," >
	<if test="match_code != null and match_code != '' " >
	    and <![CDATA[ e.l_code =#{match_code} ]]> 
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	 and d.local_m=1 and d.status in (1,2)
</trim>
</sql>
    
<!-- single 查询中奖金额 -->
<select id="detailQueryTotalPrice" resultMap="BaseResultMap"  parameterType="Object">
		
		select SUM(d.total_price) AS  total_price from order_ticket_detail_his d INNER JOIN order_ticket_matches_his e 
		on e.sid=d.sid
		<include refid="Where_totalPriceFSGL"/>
		and e.sid in
		<foreach item="item" index="index" collection="sids" open="(" separator="," close=")">
            #{item.sid}
   		</foreach>
</select>

  <!-- 查询条件 -->
<sql id="Where_totalPriceFSGL">
where 1=1
<trim  suffixOverrides="," >
	<if test="match_code != null and match_code != '' " >
	    and <![CDATA[ e.l_code =#{match_code} ]]> 
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	 and d.local_m=1 and d.status=1
</trim>
</sql>

<!--single查询中了的交易额  -->
<select id="detailQueryWinInvest" resultMap="BaseResultMap"  parameterType="Object">

	select SUM(d.price_allup) AS price_allup  from order_ticket_detail d INNER JOIN order_ticket_matches e 
	on e.sid=d.sid
	<include refid="Where_winInvestFSGL"/>
	and  e.sid in
	<foreach item="item" index="index" collection="sids" open="(" separator="," close=")">
            #{item.sid}
    </foreach>
</select>

<sql id="Where_winInvestFSGL">
where 1=1
<trim  suffixOverrides="," >
	<if test="match_code != null and match_code != '' " >
	    and <![CDATA[ e.l_code =#{match_code} ]]> 
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	 and d.local_m=1 and d.status=1
</trim>
</sql>


	<!--single 查询投注额 -->
<select id="detailQueryTotalInvestment" resultMap="BaseResultMap"  parameterType="Object">
			select SUM(d.inv_allup) as inv_allup  from order_ticket_detail_his d INNER JOIN order_ticket_matches_his e 
			on e.sid=d.sid
			<include refid="Where_querydetailTotalInvestment"/>
			and e.sid in 
			<foreach item="item" index="index" collection="sids" open="(" separator="," close=")">
		            #{item.sid}
		    </foreach>
</select>

<sql id="Where_querydetailTotalInvestment">
where 1=1
<trim  suffixOverrides="," >
	<if test="match_code != null and match_code != '' " >
	    and <![CDATA[ e.l_code =#{match_code} ]]> 
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	 and d.local_m=1 
</trim>
</sql>

<!-- ============================================= -->	
	<!--summary  -->
   <!--根据时间统计场次数量-->
<!-- <select id="queryMatchNum" resultType="java.lang.Integer"  parameterType="Object">

	select count(b.mid)as mid from(select distinct(p.mid) 
	from match_product p 
	where <![CDATA[ p.payouttime  >=#{startDate}  ]]>  <![CDATA[ and p.payouttime < #{endDate}]]>
	) b
</select>  -->
	
	
<!--daily all up  -->
	
<select id="totalInvestmentALLUP" resultMap="BaseResultMap"   parameterType="java.util.Map">
		select SUM(d.inv_allup) as inv_allup  from order_ticket_detail_his d
		<include refid="Where_totalInvestmentALLUP"/>
</select>

<sql id="Where_totalInvestmentALLUP">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	<if test="local_m != null and local_m != '' " >
    and d.local_m = #{local_m}
	</if>
</trim>
</sql>


<!-- 统计串Invest -->
<select id="investALLUP" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select sum(d.price_allup) as price_allup from order_ticket_detail_his d 
		<include refid="Where_InvestAllUP"/>
</select>

<!-- 查询条件 -->
<sql id="Where_InvestAllUP">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status in (1,2)
	<if test="local_m != null and local_m != '' " >
    and d.local_m = #{local_m}
	</if>
</trim>
</sql>	


 <!-- 统计串关的queryTotalPriceALLUP -->
<select id="totalPriceALLUP" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select sum(d.total_price) as total_price from order_ticket_detail_his d 
		<include refid="Where_totalPriceALLUP"/>
</select>

<!-- 查询条件 -->
<sql id="Where_totalPriceALLUP">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status =1
	<if test="local_m != null and local_m != '' " >
    and d.local_m = #{local_m}
	</if>
</trim>
</sql>	 
	
	
	
	
	
	
		
	<resultMap type="com.fms.entity.OrderTicketDetail" id="BaseResultMap">
 	<id column="sid" property="sid"/>
 	<result column="local_m" property="local_m"/>
 	<result column="total_price" property="total_price"/>
 	<result column="tid" property="tid"/>
 	<result column="inv_allup" property="inv_allup"/>
 	<result column="price_allup" property="price_allup"/>
 	<result column="status" property="status"/>
 	<result column="alive_m" property="alive_m"/>
 	<result column="product" property="product"/>
 	<result column="payouttime" property="payouttime"/>
 	
	</resultMap>
 
</mapper>   
