<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caiex.account.mapper.MatchInfoHisMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.caiex.account.entity.MatchInfoHis" >
	<result column="mid" property="mid"/>
	<result column="match_date" property="match_date"/>
	<result column="match_code" property="match_code"/>
	<result column="st_id" property="st_id"/>
	<result column="match_league" property="match_league"/>
	<result column="home_team" property="home_team"/>
	<result column="away_team" property="away_team"/>
	<result column="home_score_half" property="home_score_half"/>
	<result column="away_score_half" property="away_score_half"/>
	<result column="home_score" property="home_score"/>
	<result column="away_score" property="away_score"/>
	<result column="state" property="state"/>
	<result column="create_time" property="create_time"/>
	<result column="auto_stop" property="auto_stop"/>
	<result column="hold" property="hold"/>
	<result column="week_id" property="week_id"/>
</resultMap>
       
<!-- match_info_his table all fields -->
<sql id="Base_Column_List" >
	 mid,match_date,match_code,st_id,match_league,home_team,away_team,home_score_half,away_score_half,home_score,away_score,state,create_time,auto_stop,hold,week_id
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="mid != null" >
	    and mid =  #{mid}
	</if>
	<if test="match_date != null" >
	    and match_date =  #{match_date}
	</if>
	<if test="match_code != null and match_code!='' " >
	    and match_code like CONCAT(${match_code},'%' )
	</if>

	<if test="st_id != null" >
	    and st_id =  #{st_id}
	</if>
	 	<if test="match_league != null and match_league != ''" >
	    and match_league =  #{match_league}
	</if>
	 	<if test="home_team != null and home_team != ''" >
	    and home_team =  #{home_team}
	</if>
	 	<if test="away_team != null and away_team != ''" >
	    and away_team =  #{away_team}
	</if>
	 	<if test="home_score_half != null and home_score_half != ''" >
	    and home_score_half =  #{home_score_half}
	</if>
	 	<if test="away_score_half != null and away_score_half != ''" >
	    and away_score_half =  #{away_score_half}
	</if>
	 	<if test="home_score != null and home_score != ''" >
	    and home_score =  #{home_score}
	</if>
	 	<if test="away_score != null and away_score != ''" >
	    and away_score =  #{away_score}
	</if>
	<if test="state != null" >
	    and state =  #{state}
	</if>
	<if test="create_time != null" >
	    and create_time =  #{create_time}
	</if>
	<if test="auto_stop != null" >
	    and auto_stop =  #{auto_stop}
	</if>
	<if test="hold != null" >
	    and hold =  #{hold}
	</if>
	 	<if test="week_id != null and week_id != ''" >
	    and week_id  like CONCAT(${week_id},'%' )
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into match_info_his(mid,match_date,match_code,st_id,match_league,home_team,away_team,home_score_half,away_score_half,home_score,away_score,state,create_time,auto_stop,hold,week_id)
 values(#{mid},#{match_date},#{match_code},#{st_id},#{match_league},#{home_team},#{away_team},#{home_score_half},#{away_score_half},#{home_score},#{away_score},#{state},#{create_time},#{auto_stop},#{hold},#{week_id})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update match_info_his set match_date=#{match_date},match_code=#{match_code},st_id=#{st_id},match_league=#{match_league},home_team=#{home_team},away_team=#{away_team},home_score_half=#{home_score_half},away_score_half=#{away_score_half},home_score=#{home_score},away_score=#{away_score},state=#{state},create_time=#{create_time},auto_stop=#{auto_stop},hold=#{hold},week_id=#{week_id} where mid=#{mid}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update match_info_his set 
	<trim  suffixOverrides="," >
	<if test="match_date != null  ">
		match_date=#{match_date},
	</if>
	<if test="match_code != null  ">
		match_code=#{match_code},
	</if>
	<if test="st_id != null  ">
		st_id=#{st_id},
	</if>
	<if test="match_league != null  and match_league != '' ">
		match_league=#{match_league},
	</if>
	<if test="home_team != null  and home_team != '' ">
		home_team=#{home_team},
	</if>
	<if test="away_team != null  and away_team != '' ">
		away_team=#{away_team},
	</if>
	<if test="home_score_half != null  and home_score_half != '' ">
		home_score_half=#{home_score_half},
	</if>
	<if test="away_score_half != null  and away_score_half != '' ">
		away_score_half=#{away_score_half},
	</if>
	<if test="home_score != null  and home_score != '' ">
		home_score=#{home_score},
	</if>
	<if test="away_score != null  and away_score != '' ">
		away_score=#{away_score},
	</if>
	<if test="state != null  ">
		state=#{state},
	</if>
	<if test="create_time != null  ">
		create_time=#{create_time},
	</if>
	<if test="auto_stop != null  ">
		auto_stop=#{auto_stop},
	</if>
	<if test="hold != null  ">
		hold=#{hold},
	</if>
	<if test="week_id != null  and week_id != '' ">
		week_id=#{week_id},
	</if>
	</trim> where mid=#{mid}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from match_info_his where mid = #{mid}
</delete>
 
<!-- 根据id查询 赔率 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from match_info_his where mid = #{mid}
</select>

<!-- 赔率 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from match_info_his 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询赔率列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from match_info_his 
	<include refid="Example_Where_Clause"/>
	
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
    	
</select>


<select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from match_info_his where week_id  like CONCAT(${week_id},'%' ) ORDER BY match_date,match_code
	
    	
</select>
     <!-- 批量迁移matchinfo表 -->
     <insert id="batchAdd" useGeneratedKeys="false" parameterType="java.util.List">  
        insert into  match_info_his(mid,match_date,match_code,st_id,match_league,home_team,away_team,home_score_half,away_score_half,home_score,away_score,state,create_time,auto_stop,hold,week_id)
        values
        <foreach collection="list" item="item" index="index" separator="," >  
           (#{item.mid},#{item.match_date},#{item.match_code},#{item.st_id},#{item.match_league},#{item.home_team},#{item.away_team},#{item.home_score_half},#{item.away_score_half},#{item.home_score},#{item.away_score},#{item.state},#{item.create_time},#{item.auto_stop},#{item.hold},#{item.week_id}) 
        </foreach>  
    </insert>  
    
      
      	
  	<!-- single -->
  	  	<!-- 根据派奖时间查处省id -->
  	<select id="queryBtachList" resultMap="BaseResultMap"   parameterType="Object">
	 
	select  <include refid="Base_Column_List"/> from match_info_his
    where week_id =#{weekno} and match_code=#{l_code}
    union all 
    select  <include refid="Base_Column_List"/> from match_info
    where week_id =#{weekno} and match_code=#{l_code}
    </select>
    
    
    
    
    <!-- 根据mid -->
    <select id="queryBtachListByMid" resultMap="BaseResultMap">
	select  <include refid="Base_Column_List"/> from match_info_his
    where mid in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
             #{item.mid}
     </foreach>
     union all
     select  <include refid="Base_Column_List"/> from match_info
    where mid in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
             #{item.mid}
     </foreach>
     order by match_date desc
   </select>
</mapper>   
