<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caiex.account.mapper.OrderTicketDetailMapper">

	<sql id="Base_Column_List" >
	 local_m,total_price,sid,tid,inv_allup,price_allup,status,alive_m,product,payouttime
   </sql>

		
<!--daily breakdown  -->
<!-- 统计单关totalInvestment -->
<select id="queryTotalInvestmentFSGL" resultMap="OrderTicketDetailResult"   parameterType="java.util.Map">
	
    select SUM(f.inv_allup) as inv_allup from (
		select SUM(d.inv_allup) as inv_allup from order_ticket_detail_his d
			<include refid="Where_queryTotalInvestmentFSGL"/>
	union all
		select SUM(d.inv_allup) as inv_allup  from order_ticket_detail d
		<include refid="Where_queryTotalInvestmentFSGL"/>
	) as f
</select>

<!-- 查询条件 -->
<sql id="Where_queryTotalInvestmentFSGL">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	 and d.local_m=1
</trim>
</sql>









  	 <!-- 统计单Invest -->
<select id="queryinvestFSGL" resultMap="OrderTicketDetailResult"  parameterType="java.util.Map">
	select sum(c.price_allup) as price_allup from(
	select sum(d.price_allup) as price_allup from order_ticket_detail_his d
	<include refid="Where_queryInvestFSGL"/> 
	union all
	select sum(d.price_allup) as price_allup from order_ticket_detail d
	<include refid="Where_queryInvestFSGL"/>
	) as c
</select>

<!-- 查询条件 -->
<sql id="Where_queryInvestFSGL">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status in (1,2)
	 and d.local_m=1
</trim>
</sql>	

<!-- 统计单关queryTotalPrice -->
<select id="queryTotalPriceFSGL" resultMap="OrderTicketDetailResult"  parameterType="java.util.Map">
	select sum(c.total_price) as total_price from (
		select sum(d.total_price) as total_price from order_ticket_detail_his d 
		<include refid="Where_queryTotalPriceFSGL"/> 
		union all
		select sum(d.total_price) as total_price from order_ticket_detail d 
		<include refid="Where_queryTotalPriceFSGL"/> 
   	)as c
</select>
<!-- 查询条件 -->
<sql id="Where_queryTotalPriceFSGL">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    <![CDATA[ and d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
    <if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status =1
	 and d.local_m=1
</trim>
</sql>	

	<!-- 统计单关中了的 Invest-->
<select id="queryWinInvest" resultMap="OrderTicketDetailResult"  parameterType="java.util.Map">
	select sum(a.price_allup) as price_allup from(
	select sum(d.price_allup) as price_allup from order_ticket_detail_his d
	<include refid="Where_queryWinInvest"/> union all 
	select sum(d.price_allup) as price_allup from order_ticket_detail d
	<include refid="Where_queryWinInvest"/>) as  a
</select>
<!-- 查询条件 -->
<sql id="Where_queryWinInvest">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status =1
	 and d.local_m=1
</trim>
</sql>	







<!-- 统计串关totalInvestment -->
<select id="queryTotalInvestmentALLUP" resultMap="OrderTicketDetailResult"   parameterType="java.util.Map">
	 select SUM(f.inv_allup) as inv_allup from (
		select SUM(d.inv_allup) as inv_allup from order_ticket_detail_his d
			<include refid="Where_queryTotalInvestmentALLUP"/>
	union all
		select SUM(d.inv_allup) as inv_allup  from order_ticket_detail d
		<include refid="Where_queryTotalInvestmentALLUP"/>
	) as f
</select>

<sql id="Where_queryTotalInvestmentALLUP">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	 and d.local_m>1
</trim>
</sql>


<!-- 统计串Invest -->
<select id="queryinvestALLUP" resultMap="OrderTicketDetailResult"  parameterType="java.util.Map">
	select sum(c.price_allup) as price_allup from (
		select sum(d.price_allup) as price_allup from order_ticket_detail_his d 
		<include refid="Where_queryInvestAllUP"/> 
		union all
		select sum(d.price_allup) as price_allup from order_ticket_detail d 
		<include refid="Where_queryInvestAllUP"/>
	) as c
</select>

<!-- 查询条件 -->
<sql id="Where_queryInvestAllUP">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status in (1,2)
	 and d.local_m>1
</trim>
</sql>	


 <!-- 统计串关的queryTotalPriceALLUP -->
<select id="queryTotalPriceALLUP" resultMap="OrderTicketDetailResult"  parameterType="java.util.Map">
	select sum(c.total_price) as total_price from (
		select sum(d.total_price) as total_price from order_ticket_detail_his d 
		<include refid="Where_queryTotalPriceALLUP"/>
		 union all 
		select sum(d.total_price) as total_price from order_ticket_detail d 
		<include refid="Where_queryTotalPriceALLUP"/>
	) as c
</select>

<!-- 查询条件 -->
<sql id="Where_queryTotalPriceALLUP">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status =1
	 and d.local_m>1
</trim>
</sql>	 




<!-- 统计0关totalInvestment -->

<select id="queryTotalInvestmentLEVEL0" resultMap="OrderTicketDetailResult"   parameterType="java.util.Map">
	
    select SUM(f.inv_allup) as inv_allup from (
		select SUM(d.inv_allup) as inv_allup from order_ticket_detail_his d
			<include refid="Where_queryTotalInvestmentLEVEL0"/>
	union all
		select SUM(d.inv_allup) as inv_allup  from order_ticket_detail d
		<include refid="Where_queryTotalInvestmentLEVEL0"/>
	) as f
</select>

<!-- 查询条件 -->
<sql id="Where_queryTotalInvestmentLEVEL0">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	 and d.local_m=0
</trim>
</sql>





<!-- Level0 -->
<select id="queryinvestLEVEL0" resultMap="OrderTicketDetailResult" parameterType="java.util.Map"><!--  -->
 select sum(c.price_allup) as price_allup,sum(c.total_price) as total_price from(
		select sum(d.price_allup) as price_allup,sum(d.total_price) as total_price from order_ticket_detail_his d
		<include refid="Where_queryInvestLEVEL0"/>
		union all 
		select sum(d.price_allup) as price_allup,sum(d.total_price) as total_price from order_ticket_detail d 
		<include refid="Where_queryInvestLEVEL0"/>	
   ) as c
</select>

<!-- 查询条件 -->
<sql id="Where_queryInvestLEVEL0">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
     and d.status=1
	 and d.local_m=0
</trim>
</sql>	





<!-- 统计当天的totalInvestment -->
<select id="queryTotalInvestment" resultMap="OrderTicketDetailResult" parameterType="java.util.Map">
	
select SUM(f.inv_allup) as inv_allup from (
		select SUM(d.inv_allup) as inv_allup  from order_ticket_detail_his d
			<include refid="Where_queryInvestTotal"/>
	union all
		select SUM(d.inv_allup) as inv_allup from order_ticket_detail d
		<include refid="Where_queryInvestTotal"/>
	) as f
</select>

<sql id="Where_queryInvestTotal">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
</trim>
</sql>	
		

<!-- 每日财务报表合计totalprice -->
<select id="queryTotalprice" resultMap="OrderTicketDetailResult"  parameterType="java.util.Map">
	select sum(c.total_price) as total_price from (
		select sum(d.total_price) as total_price from order_ticket_detail_his d 
		<include refid="Where_queryTotalprice"/> union all 
		select sum(d.total_price) as total_price from order_ticket_detail d 
		<include refid="Where_queryTotalprice"/>
	) as c
</select>
<!-- 查询条件 -->
<sql id="Where_queryTotalprice">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	and d.status=1
</trim>
</sql>	
  	  <!-- 每日财务报表合计 invest -->
<select id="queryInvest" resultMap="OrderTicketDetailResult"  parameterType="java.util.Map">
	select sum(c.price_allup) as price_allup,sum(c.total_price) as total_price from (
		select sum(d.price_allup) as price_allup,sum(d.total_price) as total_price from order_ticket_detail_his d 
		<include refid="Where_queryInvest"/> union all 
		select sum(d.price_allup) as price_allup,sum(d.total_price) as total_price from order_ticket_detail d 
		<include refid="Where_queryInvest"/>
	) as c

</select>
<!-- 查询条件 -->
<sql id="Where_queryInvest">
where 1=1
<trim  suffixOverrides="," >
	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
	    and <![CDATA[ d.payouttime  >=#{startDate}  ]]>  <![CDATA[ and d.payouttime < #{endDate}]]>
	</if>
	<if test="product != null and product != '' " >
    and d.product=#{product}
	</if>
	and d.status in (1,2)
</trim>
</sql>	
		

	

	
	
	
	<!-- 用户管理 -->
	<!-- 查询赔率列表  要分页 -->
	<select id="queryByList" resultMap="OrderTicketDetailResult"  parameterType="Object">
		select 
		<include refid="Base_Column_List"/>
		from order_ticket_detail 
		<include refid="Example_Where_Clause"/>
	</select>
	
	<!-- 查询赔率列表 -->
<select id="queryByListUnCancel" resultMap="OrderTicketDetailResult"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from order_ticket_detail 
	<include refid="Example_Where_Clause"/>
	union all
	select 
	<include refid="Base_Column_List"/>
	from order_ticket_detail_his
	<include refid="Example_Where_Clause"/>
	union all
		select 
	<include refid="Base_Column_List"/>
	from order_ticket_detail_cancel
	<include refid="Example_Where_Clause"/>

</select>


	
	
	
	
	
	<sql id="Example_Where_Clause">
		where 1=1
	<trim  suffixOverrides="," >
		<if test="local_m != null" >
		    and local_m =  #{local_m}
		</if>
		<if test="total_price != null" >
		    and total_price =  #{total_price}
		</if>
		<if test="sid != null" >
		    and sid =  #{sid}
		</if>
		<if test="tid != null" >
		    and tid =  #{tid}
		</if>
		<if test="inv_allup != null" >
		    and inv_allup =  #{inv_allup}
		</if>
		<if test="price_allup != null" >
		    and price_allup =  #{price_allup}
		</if>
		<if test="status != null" >
		    and status =  #{status}
		</if>
		<if test="alive_m != null" >
		    and alive_m =  #{alive_m}
		</if>
		 	<if test="product != null and product != ''" >
		    and product =  #{product}
		</if>
	</trim>
</sql>
   
		

	
		
	<resultMap type="com.caiex.account.entity.OrderTicketDetail" id="OrderTicketDetailResult">
 	<id column="sid" property="sid"/>
 	<result column="local_m" property="local_m"/>
 	<result column="total_price" property="total_price"/>
 	<result column="tid" property="tid"/>
 	<result column="inv_allup" property="inv_allup"/>
 	<result column="price_allup" property="price_allup"/>
 	<result column="status" property="status"/>
 	<result column="alive_m" property="alive_m"/>
 	<result column="product" property="product"/>
 	<result column="payouttime" property="payouttime"/>
 	
	</resultMap>
 
</mapper>   
