<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caiex.account.mapper.OrderTicketDetailMapper">
	<!-- 	<select id="getmatches"  resultMap="OrderTicketDetailResult">
			select m.* from order_ticket_matches m left join order_ticket_detail d on m.sid=d.sid
		</select> -->
		
		
	<resultMap type="com.caiex.account.entity.OrderTicketDetail" id="OrderTicketDetailResult">
 	<id column="sid" property="sid"/>
 	<result column="local_m" property="localm"/>
 	<result column="total_price" property="totalPrice"/>
 	<result column="tid" property="tid"/>
 	<result column="inv_allup" property="invallup"/>
 	<result column="price_allup" property="priceallup"/>
 	<result column="status" property="status"/>
 	<result column="alive_m" property="alivem"/>
 	<result column="product" property="product"/>
 	<result column="payouttime" property="payouttime"/>
 	
 	 <collection property="matches" ofType="com.caiex.account.entity.OrderTicketMatches" column="sid">
 	<id column="id" property="id"/>
 	<result column="price_allup" property="priceallup"/>
 	<result column="local_m" property="localm"/>
 	<result column="sid" property="sid"/>
 	<result column="inv_match" property="invmatch"/>
 	<result column="l_prod" property="lprod"/>
 	<result column="l_code" property="lcode"/>
 	<result column="l_team" property="lteam"/>
 	<result column="l_opt" property="lopt"/>
 	<result column="l_odds" property="lodds"/>
 	<result column="local_odds" property="localodds"/>
 	<result column="weekno" property="weekno"/>
 	<result column="statistics" property="statistics"/>
 	</collection>
 	 
	</resultMap>
 
</mapper>   
