<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caiex.account.mapper.OrderCancelMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.caiex.account.entity.OrderCancel" >
	<result column="agentid" property="agentid"/>
	<result column="tkid" property="tkid"/>
	<result column="applyState" property="applyState"/>
	<result column="oid" property="oid"/>
	<result column="applyTime" property="applyTime"/>
	<result column="canceldesc" property="canceldesc"/>
	<result column="cancelType" property="cancelType"/>
</resultMap>
       
<!-- order_cancel table all fields -->
<sql id="Base_Column_List" >
	 agentid,tkid,applyState,oid,applyTime,canceldesc,cancelType
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="agentid != null" >
	    and agentid =  #{agentid}
	</if>
	<if test="tkid != null" >
	    and tkid =  #{tkid}
	</if>
	<if test="applyState != null" >
	    and applyState =  #{applyState}
	</if>
	<if test="oid != null" >
	    and oid =  #{oid}
	</if>
	<if test="applyTime != null" >
	    and applyTime =  #{applyTime}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into order_cancel(agentid,tkid,applyState,oid,applyTime)
 values(#{agentid},#{tkid},#{applyState},#{oid},#{applyTime})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update order_cancel set tkid=#{tkid},applyState=#{applyState},agentid=#{agentid},applyTime=#{applyTime} where oid=#{oid}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update order_cancel set 
	<trim  suffixOverrides="," >
	<if test="tkid != null  ">
		tkid=#{tkid},
	</if>
	<if test="applyState != null  ">
		applyState=#{applyState},
	</if>
	<if test="oid != null  ">
		oid=#{oid},
	</if>
	<if test="applyTime != null  ">
		applyTime=#{applyTime},
	</if>
	</trim> where agentid=#{agentid}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from order_cancel where agentid = #{agentid}
</delete>
 
<!-- 根据id查询 order_cancel -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from order_cancel where agentid = #{agentid}
</select>

<!-- order_cancel 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from order_cancel 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询order_cancel列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from order_cancel 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
 
<!-- 根据agent tkid查询，是否有审批数据 -->
<select id="queryByOrderTicket"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from order_cancel where agentid = #{agentid} and tkid=#{tkid}
</select> 	
</mapper>   
