<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caiex.account.mapper.MatchInfoMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.fms.entity.MatchInfo" >
	<result column="mid" property="mid"/>
	<result column="match_date" property="match_date"/>
	<result column="match_code" property="match_code"/>
	<result column="st_id" property="st_id"/>
	<result column="match_league" property="match_league"/>
	<result column="home_team" property="home_team"/>
	<result column="away_team" property="away_team"/>
	<result column="home_score_half" property="home_score_half"/>
	<result column="away_score_half" property="away_score_half"/>
	<result column="home_score" property="home_score"/>
	<result column="away_score" property="away_score"/>
	<result column="state" property="state"/>
	<result column="create_time" property="create_time"/>
	<result column="auto_stop" property="auto_stop"/>
	<result column="hold" property="hold"/>
	<result column="week_id" property="week_id"/>
</resultMap>
       
<!-- match_info_his table all fields -->
<sql id="Base_Column_List" >
	 mid,match_date,match_code,st_id,match_league,home_team,away_team,home_score_half,away_score_half,home_score,away_score,state,create_time,auto_stop,hold,week_id
</sql>
   
  
      
      	
  	<!-- single -->
  	  	<!-- 根据派奖时间查处省id -->
  	<select id="queryBtachList" resultMap="BaseResultMap"   parameterType="Object">
	 
	select  <include refid="Base_Column_List"/> from match_info_his
    where week_id =#{weekno} and match_code=#{l_code}
    union all 
    select  <include refid="Base_Column_List"/> from match_info
    where week_id =#{weekno} and match_code=#{l_code}
    </select>
    
    
</mapper>   
